.board {
  /*padding: 2px 2px 0px;*/
  border-top: 3px solid #7B7B7B;
  border-left: 3px solid #7B7B7B;
  border-right: 3px solid #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
  background-color: #BFBFBF;
}